{% extends "base.html" %}
{% load bootstrap3 %}
{% block page_content %}
<div class="col-md-12 col-lg-6">
<h4 class="page-header">Profil de {{ user.first_name }} {{ user.last_name }}</h4>
<p>Vous avez participé à {{nbr_maraudes}} maraudes, dont {{nbr_maraudes_annee}} cette année.</p>
</div>
<div class="col-md-12 col-lg-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-header"> Modifier le mot de passe </h4>
		</div>
		<div class="panel-body">
			<form method="POST">
			{% csrf_token %}
			{% bootstrap_form password_change_form %}
			<span class="text-right"><input type="submit" value="Changer le mot de passe" class="btn btn-primary"></input></td></tr>
			</form>
		</div>
	</div>
</div>
{% endblock %}
