
/* Maraudes application base stylesheet */

.rencontre {
  background-color: #efefef;
  width:100%;
  border: 5px dotted white;
  margin:2px;
  margin-bottom:8px;
  font-family: Arial;
}

.header td {
  color: white;
  background-color: black;
  text-align:center;
  font-weight:bold;
  font-family: Arial;
  padding: 2px;
}

