{% extends "notes/base.html" %}
{% load bootstrap4 notes %}

{% block page_content %}
    <div class="col-lg-12">
        {% block top_block %}{% endblock %}
    </div>
</div>
<div class="row d-flex">
<div class="col-lg-7 col-md-12">
    {% block pagination %}{% endblock %}
    <table class="table table-bordered">
        {% for note in notes %}
          {% if maraude %}
            {% inline_table note header="sujet" %}
          {% elif sujet %}
            {% inline_table note header="date" %}
          {% endif %}
        {% endfor %}
    </table>
</div>

<div class="col-lg-5 col-md-12">
  {% block right_column %}{% endblock %}
</div>
{% endblock %}

