{% extends "notes/details.html" %}

{% block title %}
  {{ block.super }} {{ maraude }}
{% endblock %}

{% block breadcrumbs %}
  <h6 class="navbar-text text-white my-2">Compte-rendu</h6>
  <p class="navbar-text my-2 ml-2">{{ maraude }}</p>
{% endblock %}

{% block sidebar %}
    <h6 class="sidebar-heading mt-4 px-3">Navigation</h6>
    <nav class="d-flex px-3 justify-content-left" aria-label="Maraudes navigation">
    <ul class="pagination">
    <li class="page-item {% if not prev_maraude %}disabled{% endif %}">
      <a class="page-link px-4" href="{% if prev_maraude %}{% url "notes:details-maraude" prev_maraude.pk %}{% else %}#{% endif %}" aria-label="Previous">
        <span class="oi oi-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item {% if not next_maraude %}disabled{% endif %}">
      <a class="page-link px-4" href="{% if next_maraude %}{% url "notes:details-maraude" next_maraude.pk %}{%else%}#{% endif %}" aria-label="Next">
        <span class="oi oi-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    </ul>
  </nav>
{% endblock %}

{% block top_block %}
<div class="card card-body p-1 mb-2 text-center">
  <p class="card-text">
    <strong>avec {{ maraude.binome }} & {{ maraude.referent }}</strong>
    <span class="badge badge-primary ml-2">{{ maraude.rencontres.count }} rencontres</span>
    <span class="badge badge-primary ml-2">{{ maraude.observations_count }} personnes rencontrées</span>
  </p>
</div>
{% endblock %}
