{% extends "notes/details.html" %}

{% block breadcrumbs %}
  {{ block.super }}
  <li><a href="{% url "notes:liste-maraude" %}">Maraudes</a></li>
  <li>{{ maraude }}</li>
{% endblock %}

{% block sidebar %}
<div class="panel panel-primary text-right">
  <div class="panel-heading"><h4 class="panel-title">Navigation</h4></div>
  <div class="panel-body text-center">
    <nav aria-label="Maraudes navigation">
    <ul class="pagination">
    {% if prev_maraude %}<li>
      <a href="{% url "notes:details-maraude" prev_maraude.pk %}" aria-label="Previous">
        {{ prev_maraude.date }} &nbsp; <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </li>{% endif %}
    {% if next_maraude %}<li>
      <a href="{% url "notes:details-maraude" next_maraude.pk %}" aria-label="Next">
        <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span> &nbsp; {{ next_maraude.date }}
      </a>
    </li>{% endif %}
    </ul>
  </nav>
  </div>
</div>
{% endblock %}

{% block right_column %}
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="notesSujetHeading">
    <h3 class="panel-title">
      Informations</h3>
  </div>
  <div class="panel-body">
    <p><strong>Maraudeurs :</strong>&nbsp; {{ maraude.binome }} & {{ maraude.referent }}</p>
    <p><strong>Nombre de rencontres</strong>&nbsp; {{ maraude.rencontres.count }}</p>
    <p><strong>Nombre de personnes rencontrées</strong>&nbsp; {{ maraude.observations_count }}</p>
  </div>
</div>
{% endblock %}
