{% extends "notes/details.html" %}
{% load bootstrap3 %}

{% block breadcrumbs %}
  {{ block.super }}
  <li><a href="{% url "notes:liste-sujet" %}">Sujets</a></li>
  <li>{{ sujet }}</li>
{% endblock %}

{% block pre_content %}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
{% endblock %}

{% block post_content %}
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="notesAjoutHeading">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNotesAjout" aria-expanded="false" aria-controls="collapseTwo">
          {% bootstrap_icon "plus" %} Ajouter une note
        </a>
      </h4>
    </div>
    <div id="collapseNotesAjout" class="panel-collapse collapse" role="tabpanel" aria-labelledby="notesAjoutHeading">
      <div class="panel-body">
        <form method="POST" action="">{% csrf_token %}
        {% bootstrap_form note_form show_label=False %}
      </div>
      <div class="panel-footer text-right">
        {% bootstrap_button "Enregistrer" button_type="submit" %}
        </form>
      </div>
    </div>
  </div>
  </div>
</div>
{% endblock %}

{% block sidebar %}
{{ block.super }}
<hr />
{% if user.is_superuser %}
    <div class="well well-sm text-right"><h4><strong>Administration :</strong></h4>
    <div class="btn-group" role="group" aria-label="...">
      <a href="{% url 'admin:notes_note_changelist' %}?sujet__exact={{sujet.pk}}" class="btn btn-primary">Éditer les notes</a>
      <a href="{% url 'notes:sujets-merge' pk=object.pk %}" class="btn btn-default">{% bootstrap_icon "paste" %} Fusionner</a>
    </div>
    </div>
{% endif %}
{% endblock %}
