{% load bootstrap3 %}
<form action="" method="POST">{% csrf_token %}
  {% with "inline" as layout %}
  <div class="form-{{layout}} well well-sm text-center">
    {% bootstrap_field  form.created_date layout=layout %}
    {% bootstrap_field  form.created_time layout=layout %}
    {% bootstrap_field  form.entrant layout=layout %}
  </div>  {% endwith %}
  {% with "horizontal" as layout %}
  <div class="form-{{layout}}">
    {% bootstrap_field form.sujet layout=layout %}
    {% bootstrap_field form.text layout=layout %}
  </div>  {% endwith %}
  <div class="pull-right">{% bootstrap_button "Enregistrer l'appel" button_type="submit" %}</div>
</form>
{{ form.media.js }}{{ form.media.css }}

