{% load boolean_icons %}
      <table class="table">
      <tr>
        <th colspan="4" class="active">Informations générales</th>
      </tr>
      <tr>
        <th>Première rencontre :</th>
        <td> {{ sujet.premiere_rencontre }}</td>
      </tr>
      <tr>
        <th colspan="4" class="active">État-civil</th>
      </tr>
      <tr>
        <th>Nom</th>
        <td>{{ sujet.nom|default:'?' }}</td>
        <th>Prénom</th>
        <td>{{ sujet.prenom|default:'?' }}</td>
      </tr>
      <tr>
        <th>Sexe</th>
        <td>{{ sujet.genre }}</td>
        <th>Âge</th>
        <td>{{ sujet.age|default:'?' }}</td>
      </tr>
      <tr>
        <th colspan="4" class="active">Problématiques</th>
      </tr>
      <tr>
        <th>Psychiatrique</th>
        <td>{{ sujet.prob_psychiatrie|as_icon }}</td>
        <th>Addiction</th>
        <td>{{ sujet.prob_addiction|as_icon }}</td>
      </tr>
      <tr>
        <th>Administratif</th>
        <td>{{ sujet.prob_administratif|as_icon }}</td>
        <th>Somatique</th>
        <td>{{ sujet.prob_somatique|as_icon }}</td>
      </tr>
      <tr>
        <th colspan="4" class="active">Habitation</th>
      </tr>
      <tr>
        <th>Type</th>
        <td>{{ sujet.habitation }}</td>
        <th>Connu du SIAO</th>
        <td>{{ sujet.connu_siao|as_icon }}</td>
      </tr>
      <tr>
        <th colspan="4" class="active">Ressources</th>
      </tr>
      <tr>
        <td colspan="4">{{ sujet.ressources }}</td>
      </tr>
      <tr>
        <th colspan="4" class="active">Parcours de vie</th>
      </tr>
      <tr>
        <td colspan="2">{{ sujet.parcours_de_vie }}</td>
        <th>Lien familial</th>
        <td>{{ sujet.lien_familial|as_icon }}</td>
      </tr>
      </table>
