{% load bootstrap3 %}
<form action="{% url 'notes:update-sujet' pk=form.instance.pk %}" method="post">{% csrf_token %}
    <div class="panel-body">{% bootstrap_field form.premiere_rencontre %}</div>
      <table class="table">
      <tr><th colspan="4" class="active">État-civil</th></tr>
      <tr><th>Nom</th><td>{% bootstrap_field form.nom layout="inline" %}</td>
          <th>Prénom</th><td>{% bootstrap_field form.prenom layout="inline" %}{% bootstrap_field form.surnom layout="inline" %}</td></tr>
      <tr><th>Sexe</th><td>{% bootstrap_field form.genre layout="inline" %}</td>
          <th>Âge</th><td>{% bootstrap_field form.age layout="inline" %}</td></tr>
      <tr><th colspan="4" class="active">Problématiques</th></tr>
      <tr><th>Psychiatrique</th><td>{% bootstrap_field form.prob_psychiatrie layout="inline" %}</td>
          <th>Addiction</th><td>{% bootstrap_field form.prob_addiction layout="inline" %}</td></tr>
      <tr><th>Administratif</th><td>{% bootstrap_field form.prob_administratif layout="inline" %}</td>
          <th>Somatique</th><td>{% bootstrap_field form.prob_somatique layout="inline" %}</td></tr>
      <tr><th colspan="4" class="active">Habitation</th></tr></td></tr>
      <tr><th>Type</th><td>{% bootstrap_field form.habitation layout="inline" %}</td>
          <th>Connu du SIAO</th><td>{% bootstrap_field form.connu_siao layout="inline" %}</td></tr>
      <tr><th colspan="4" class="active">Ressources</th></tr></td></tr>
      <tr><td colspan="4">{% bootstrap_field form.ressources layout="inline" %}</td></tr>
      <tr><th colspan="4" class="active">Parcours de vie</th></tr></td></tr>
      <tr><td colspan="2">{% bootstrap_field form.parcours_de_vie layout="inline" %}</td>
      <th>Lien familial</th><td>{% bootstrap_field form.lien_familial layout="inline" %}</td></tr>
      </table>
  <div class="panel-footer text-right">
    {% bootstrap_button "Enregistrer" button_type="submit" %}
  </div>
</form>
