<a href="{% url 'notes:details-sujet' object.pk %}" class="btn btn-link text-left">
  <span class="text-muted">{{object.genre}}</span> {{object.nom}} {{object.prenom}}<br />
  {% if object.surnom %}<span class="text-muted">"{{object.surnom}}"</span>{% endif %}
  </a>
<div class="float-right">
 <span class="badge badge-info">{{ object.notes.count }} notes</span>
 {% with object.statistiques.info_completed as completed %}
 <span class="badge badge-{% if completed <= 80 %}warning{%else%}success{%endif%}">{{ completed }} %</span>
 {% endwith %}
</div>


