<tr class="d-table-row shadow">
  <th class="border-{{bg_color}}" width="20%">
    {% if link %}
      <a href="{{link}}"><strong>{{header}}</strong></a>
    {% else %}
      <strong>{{header}}</strong>
    {% endif %} <small>{{small}}</small>
    <br />
    <div style="mt-2">
    {% for label in labels %}
      <span class="badge badge-{{bg_label_color}}" style="padding:2px 5px;">{{label}}</span>
    {% endfor %}
    </div>
  </th>
  <td class="border-{{bg_color}}"  width="80%"><p>{{text | linebreaks }}</p></td>
</tr>
