{% extends "base.html" %}
{% load static %}

{% block extrahead %}
<script type="text/javascript" src="{% static "scripts/jquery.flot.min.js" %}"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
</script>
{% endblock %}

{% block title %}Statistiques >{% endblock %}

{% block breadcrumbs %}
  <h6 class="navbar-text text-white my-2">Statistiques</h6>
{% endblock %}

{% block sidebar %}
  {% include "statistiques/menu.html" %}
{% endblock %}
