{% extends "statistiques/base.html" %}
{% load static %}

{% block title %}{{ block.super }} Index{% endblock %}


{% block sidebar %}
  {{ block.super }}
  <div class="panel panel-primary">
    <div class="panel-body text-right">
      <h4>Période</h4>
      <form action="" method="get">
        {{ form }}
      </form>
    </div>
  </div>
{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  <li>Tableau de bord</li>
{% endblock %}

{% block page_content %}
<h3>First graph</h3>
{{ chart.as_html }}
{% endblock %}
