{% extends "statistiques/base.html" %}

{% block title %}{{block.super}} {{page_title}}{% endblock %}

{% block breadcrumbs %}
    {{block.super}}
    <li>{{page_title}}</li>
    {% if active %}<li>{{active}}</li>{% endif %}
{% endblock %}

{% block sidebar %}
  {{ block.super }}
  <hr />
  {% if chart %}
  {% include "statistiques/filter_form.html" with active=active %}
  <hr />
  <p class="text-muted px-3">Échantillon : {{ queryset_count }} objets</p>
  {% endif %}
{% endblock %}

{% block page_content %}
<div class="card card-body py-1">
 <ul class="nav nav-pills justify-content-center">
  {% for name in chart_list %}
     <li class="nav-item">
         <a class="nav-link {%if name == active%}active{%endif%}" href="?graph={{name}}&period={{year}}">{{ name }}</a>
     </li>
  {% endfor %}
 </ul>
</div>
  {% if chart %}
    {{ chart.as_html }}
  {% endif %}

{% endblock %}
