{% extends "statistiques/base.html" %}

{% block title %}{{block.super}} {{page_title}}{% endblock %}

{% block breadcrumbs %}
    {{block.super}}
    <li>{{page_title}}</li>
    {% if active %}<li>{{active}}</li>{% endif %}
{% endblock %}

{% block sidebar %}
  {{ block.super }}
  {% if chart %}
  <hr />
  <div class="panel panel-primary">
    <div class="panel-body text-right">
      {% include "statistiques/filter_form.html" with active=active %}
      <hr />
      <p>Échantillon : {{ queryset_count }} objets</p>
    </div>
  </div>
  {% endif %}
{% endblock %}

{% block page_content %}
 <ul class="nav nav-pills nav-justified">
  {% for name in chart_list %}
     <li role="presentation" {%if name == active%} class="active" {%endif%}>
         <a href="?graph={{name}}&period={{year}}">{{ name }}</a>
     </li>
  {% endfor %}
 </ul>

  {% if chart %}
    {{ chart.as_html }}
  {% endif %}

{% endblock %}
