<div class="panel panel-primary">
    <div class="panel-heading" role="tab" id="appelHeading">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#appelCollapse" aria-expanded="true" aria-controls="collapseOne">
      Appel</a></h4>
    </div>
    <div id="appelCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="appelHeading">
      <div class="panel-body">
    {% include "suivi/appel_form_inner.html" %}</div>
    </div>
  </div>

