{% load bootstrap3 %}
{{ form.media.js }}{{ form.media.css }}
<form action="" method="POST">{% csrf_token %}
  {% with "inline" as layout %}
  <div class="form-group form-{{layout}} well col-md-10 col-md-offset-2">
    {% bootstrap_field  form.created_date layout=layout %}
    {% bootstrap_field  form.created_time layout=layout %}
    {% bootstrap_field  form.entrant layout=layout %}
  </div>  {% endwith %}
  {% with "horizontal" as layout %}
  <div class="form-group form-{{layout}}">
    {% bootstrap_field  form.sujet layout=layout %}
    {% bootstrap_field  form.text layout=layout %}
  </div>  {% endwith %}
  <div class="pull-right">{% bootstrap_button "Enregistrer l'appel" button_type="submit" %}</div>
</form>
