{% load bootstrap3 %}
<div class="col-lg-6 col-md-12">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  {% include "suivi/sujet_suivi.html" %}
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="notesAjoutHeading">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNotesAjout" aria-expanded="false" aria-controls="collapseTwo">
          {% bootstrap_icon "plus" %} Ajouter une note
        </a>
      </h4>
    </div>
    <div id="collapseNotesAjout" class="panel-collapse collapse" role="tabpanel" aria-labelledby="notesAjoutHeading">
      <div class="panel-body">
        <form method="POST" action="">{% csrf_token %}
        {% bootstrap_form note_form show_label=False %}
      </div>
      <div class="panel-footer text-right">
        {% bootstrap_button "Enregistrer" button_type="submit" %}
        </form>
      </div>
    </div>
  </div>
  </div>
</div>
<div class="col-lg-6 col-md-12"> {% include "sujets/sujet_details.html" %}</div>
