<div class="col-md-4">
<div class="panel panel-default">
  <div class="panel-heading">Sujets</div>
  <div class="list-group">
    <a href="{% url 'sujets:liste' %}" class="list-group-item">Liste complète</a>
  </div>
</div>
</div>

{% if user.is_superuser %}
<div class="col-md-4">
<div class="panel panel-danger">
  <div class="panel-heading">Administration</div>
  <div class="list-group">
    <a href="{% url 'sujets:create' %}" class="list-group-item">Nouveau sujet</a>
  </div>
</div>
</div>
{% endif %}
