<!DOCTYPE html>
{% load staticfiles %} {% load bootstrap3 %}
<html lang="fr">
  <head>
    <title>{% block title %}La maraude{% endblock %}</title>
    {% bootstrap_css %}{% bootstrap_javascript %}
    <!-- Side Navbar from http://www.samrayner.com/bootstrap-side-navbar/inverse.html -->
    <link href="/static/bootstrap/navbar-fixed-side.css" rel="stylesheet" />
    {% if stylesheets %}{% for stylesheet in stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static stylesheet %}" />{% endfor %}{% endif %}
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 col-lg-2">
          {% include "navbar.html" %}
        </div>
        <div class="col-sm-9 col-md-10 col-lg-10">
          <h1 class="page-header">{% block page_header %}{% endblock %}</h1>
          {% bootstrap_messages %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
