<!DOCTYPE html>
{% load staticfiles %} {% load bootstrap3 %} {% load navbar %}
<html lang="fr">
  <head>
    <title>{% block title %}La maraude{% endblock %}</title>
    {% bootstrap_css %}{% bootstrap_javascript %}
    <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
    {% block extrastyle %}{% endblock %}
    {% if stylesheets %}{% for stylesheet in stylesheets %}<link rel="stylesheet" type="text/css" href="{% static stylesheet %}" />{% endfor %}{% endif %}
  {% block extrahead %}{% endblock %}
  {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
  </head>
  <body {% block extra_body_attrs %}{% endblock %}>
    <div class="container-fluid">
      <!-- START: Navigation Bar -->
      <div class="row">
      <nav class="navbar navbar-static-top navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Maraude ALSA</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
              <li {% active namespace="maraudes" %}><a href="{% url "maraudes:index" %}">{% bootstrap_icon "road" %}&nbsp; Maraudes</a></li>
              <li {% active namespace="notes" %}><a href="{% url "notes:index" %}">{% bootstrap_icon "pencil" %}&nbsp; Notes</a></li>
            </ul>
            <ol class="breadcrumb navbar-text">
            {% block breadcrumbs %}
              <li>{{ page_header }}</li>
              {% if page_header_small %}<li>{{ page_header_small }}</li>{% endif %}
            {% endblock %}
            </ol>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Menu <span class="glyphicon glyphicon-menu-hamburger"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="{% url "utilisateurs:index" %}"><span class="glyphicon glyphicon-user"></span> {{ user }}</a></li>
                  <li role="separator" class="divider"></li>
                  {% if user.is_superuser %}
                  <li><a href="/admin/"><span class="glyphicon glyphicon-wrench"></span> Administration</a></li>
                  {% endif %}
                  <li><a href="/logout/"><span class="glyphicon glyphicon-log-out"></span> Déconnexion</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      </div>
      <!-- END: Navigation Bar -->
      <div class="row">
        <div class="col-lg-10 col-lg-push-2 col-md-9 col-md-push-3">
          {% bootstrap_messages %}
          {% block page_content %}{% endblock %}
        </div>
        <div class="col-lg-2 col-lg-pull-10 col-md-3 col-md-pull-9">
            {% block sidebar %}{% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
