<!DOCTYPE html>
{% load staticfiles %} {% load bootstrap3 %}
<html lang="fr">
  <head>
    <title>{% block title %}La maraude{% endblock %}</title>
    {% if stylesheets %}{% for stylesheet in stylesheets %}<link rel="stylesheet" type="text/css" href="{% static stylesheet %}" />{% endfor %}{% endif %}
    {# Load CSS and JavaScript #}{% bootstrap_css %}{% bootstrap_javascript %}
  </head>
  <body>
    {% block globalnav %}{% endblock %}
    <div class="container">
      <div class="row">
        {% if panels %}<div class="col-md-8">{% else %}<div class="col-md-12">{% endif %}
          {% bootstrap_messages %}
          <div class="page-header"><h1>{% block page_header %}Header{% endblock %}</h1></div>
          {% block content %}{% endblock %}
        </div>
        {% if panels %}<div class="col-md-4" id="sidebar">
          {% block panels %}{% endblock %}
        </div>{% endif %}
      </div>
    </div>
  </body>
</html>
