{% extends "base.html" %}
{% load bootstrap3 %}

{% block sidebar %}
  {% include "login.html" %}
{% endblock %}

{% block page_content %}
<div class="col-md-8">
    <div class="jumbotron">
    <h2>Présentation</h2>
<p>L'Association pour le Logement des Sans-Abri organise une maraude psychosociale dans la ville de Mulhouse.</p>
<p>Les maraudeurs interviennent dans l'espace public tout au long de l'année, en soirée ou dans l'après-midi.
    Ils fréquentent régulièrement la gare, le centre-ville, les urgences et les foyers d'hébergement d'urgence (115).</p>
<h2>Objectifs</h2>
    <p>La mission de la Maraude est de créer du lien avec des personnes en errance dans l'objectif d'opérer un ancrage.</p>
    <p>Reconnaissables par leurs vêtements oranges, les maraudeurs sont disponibles pour informer et orienter vers les
        services compétents, ou simplement échanger autour d'un café offert.</p>
</div>
</div>
<div class="col-md-4">
    <div class="jumbotron">
    <h2>{% bootstrap_icon "time" %} Horaires</h2>
        <ul><li>lundi de 19h à 23h</li>
            <li>mardi de 19h à 23h</li>
            <li>jeudi de 19h à 23h</li>
            <li>vendredis de 16h à 20h</li></ul>
    </div>
</div>
{% endblock %}
