<h6 class="sidebar-heading px-3 mt-4 mb-2 text-muted">Connexion</h6>
{% if user.is_authenticated %}
  <p class="px-3">{{ user.first_name|default:user.username }}, vous êtes connecté !</p>
  {% if next %}
  <div class="alert alert-warning">
    <p>Votre compte ne donne pas accès à cette page. Veuillez vous connecter avec un autre compte.</p>
  </div>
  <a href="{% url 'logout' %}" class="btn btn-danger">Déconnexion</a>
  {% endif %}
{% else %}
  <form class="form" method="post" action="{% url "login" %}">
  {% csrf_token %}
  {% if next %}
  <div class="alert alert-warning">
    <p>Vous devez vous connecter pour accéder à cette page.</p>
  </div>
  <input name="next" value="{{next}}" hidden />
  {% endif %}
  <div class="form-group form-horizontal px-3">
    <div class="form-group">
      <label class="col-md-2 sr-only control-label" for="id_username">Username</label>
      <input autofocus="" class="form-control" id="id_username" maxlength="254" name="username" placeholder="Username" title="" type="text" required />
    </div>
    <div class="form-group">
      <label class="col-md-2 sr-only control-label" for="id_password">Password</label>
      <input class="form-control" id="id_password" name="password" placeholder="Password" title="" type="password" required />
    </div>
    <button class="btn btn-primary btn-block" type="submit">Connexion</button>
  </div>
  </form>
{% endif %}
  </div>
    <div class="panel-footer"><p>version: 0.2beta</p></div>
  </div>
