<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Connexion</h3>
  </div>
  <div class="panel-body text-center">
{% if user.is_authenticated %}
  <p>{{ user.first_name|default:user.username }}, vous êtes connecté !</p>
  {% if next %}
  <div class="alert alert-warning">
    <p>Votre compte ne donne pas accès à cette page. Veuillez vous connecter avec un autre compte.</p>
  </div>
  <a href="{% url 'logout' %}" class="btn btn-danger">Déconnexion</a>
  {% else %}
  <div class="btn-group-vertical">
    <a href="{% url 'maraudes:index' %}" class="btn btn-sm btn-primary">Entrer</a>
    {% if user.is_superuser %}
    <a href="admin/" class="btn btn-sm btn-default">Administration</a>
    {% endif %}
    <a href="{% url 'logout' %}" class="btn btn-sm btn-default">Déconnexion</a>
  </div>
  {% endif %}
{% else %}
  <form class="form" method="post" action="{% url "login" %}">
  {% csrf_token %}
  {% if next %}
  <div class="alert alert-warning">
    <p>Vous devez vous connecter pour accéder à cette page.</p>
  </div>
  <input name="next" value="{{next}}" hidden />
  {% endif %}
  <div class="form-group form-horizontal">
    <div class="form-group">
      <label class="col-md-2 sr-only control-label" for="id_username">Username</label>
      <div class="input-group col-md-9">
        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
        <input autofocus="" class="form-control" id="id_username" maxlength="254" name="username" placeholder="Username" title="" type="text" required />
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 sr-only control-label" for="id_password">Password</label>
      <div class="input-group col-md-9">
        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
        <input class="form-control" id="id_password" name="password" placeholder="Password" title="" type="password" required />
      </div>
    </div>
  </div>
  <div class="text-center">
    <button class="btn btn-primary navbar-button" type="submit">Connexion</button>
  </div>
  </form>
{% endif %}
  </div>
    <div class="panel-footer"><p>version: 0.2beta</p></div>
  </div>
