
.navbar-fixed-side .navbar-nav>li>a {
  border-bottom: none;
  font-variant: small-caps;
  color: #fff;
}

#menu {
  border: none;
  border-right: 4px solid #980300;
  background-color: #121212;
}

@media (max-width:768px){
  #menu { border: none; }
}

.app-menu {
  background-color: #121212;
  border: none;
}


.dropdown-toggle{
  border-right: 4px solid #980300 !important;
}

.dropdown-menu {
  border-bottom: none !important;
}


