
#menu {
  border: none;
  border-right: 4px solid #980300;
}

.dropdown-toggle{
  border-right: 4px solid #980300 !important;
}

.dropdown-menu {
  border-bottom: none !important;
  }

.navbar-fixed-side .navbar-nav>li>a {
  border-bottom: none;
  color: #fff;
}

.app-menu {
  background-color: #121212;
  border: none;
}

@media (max-width:768px){
  #menu { border: none; }
}
