{% extends "maraudes/base.html" %}
{% load bootstrap4 staticfiles %}

{% block title %} {{ block.super }} Compte-rendu du {{ object.date }} {% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url "maraudes:index" %}">{{ object.date }}</a></li>
  <li>Compte-rendu</li>
{% endblock %}

{% block sidebar %}
    {{ block.super }}
    <hr />
    <h4 class="sidebar-heading px-3 mt-4 mb-1">Création</h4>
    <div class="btn-group px-3" role="group" aria-label="Creation">
      <button id="new-sujet" class="btn btn-dark">Sujet</button>
      <button id="new-lieu" class="btn btn-dark">Lieu</button>
    </div>
    <h4 class="sidebar-heading px-3 mt-4 mb-1">Finaliser</h4>
    <div class="px-3">
      <a class="btn btn-success btn-block" href="{% url 'maraudes:finalize' maraude.pk %}">Terminer</a>
    </div>
{% endblock %}

{% block page_content %}
<!-- Modal and button linking -->
<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h4 class="modal-title">Modal title</h4>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div id="form-modal-body" class="modal-body">
         <div class="alert alert-warning">Content should be there...</div>
       </div>
     </div>
   </div>
</div>
<script type="text/javascript" src="{% static 'scripts/bootstrap-modal.js' %}"></script>
<script type="text/javascript" src="{% static "scripts/jquery.formset.js" %}"></script>
<script type="text/javascript">
  /* Dynamic Formsets */
  $(function() {
    $.fn.onAddForm = function(row) {
      // Load django_select2 fields
      row.find('.django-select2').djangoSelect2();
    };

    $.fn.onDeleteForm = function(row) {
      /*
      * Custom code when deleting dynamic form
      */
      console.log(row);
    };
  });
  
  $(function() {
    $('.dynamic-formset').formset({
        prefix: '{{ inline_formset.prefix }}',
        addText: 'Ajouter une personne',
        deleteText: 'Supprimer',
        addCssClass: 'card-link btn-add',
        deleteCssClass: 'btn-link btn-sm btn-delete pb-3',
        added: $.fn.onAddForm,
        removed: $.fn.onDeleteForm
    });

    var text = $('a.btn-add').text();
    $('a.btn-add').html('(+) ' + text);
    var text = $('a.btn-delete:first').text();
    $('a.btn-delete').html('(-) ' + text);
  });
</script>

      <div class="d-flex flex-fill card mx-auto border-dark shadow">
        <div class="card-header py-2 bg-dark text-white">
          Nouvelle rencontre
        </div>
        <div class="card-body">
        <form method="post" action="{% url 'maraudes:create' maraude.pk %}">
        {% csrf_token %}
          {% include "maraudes/compterendu_form.html" %}
          {% bootstrap_button "Enregistrer" button_type="submit" button_class="btn btn-success btn-sm btn-block mt-3 mb-0" %}
        </form>
        {{ form.media.js }}{{ form.media.css }}
        </div>
      </div>
    </div>
  </div>
<div class="row">
  <div class="container-fluid">
    <div class="card-columns m-4">
      {% for rencontre in rencontres %}<div class="card">
        <div class="card-header py-2 bg-dark text-white">{{ rencontre }}</div>
        <div class="card-body">{% for observation in rencontre.observations.all %}
           <a class="card-link btn-sm my-0" href="{% url "notes:details-sujet" observation.sujet.pk %}" id="sujet-name-{{observation.sujet.pk}}">{{observation.sujet}}</a>
           <a class="card-link my-0 show-stats-btn" href="#" value="{{observation.sujet.pk}}">
           Mise à jour</a>
           <hr />
           <span class="text-justify">{{observation.text | linebreaks }}</span>
         {% endfor %}</div>
      </div>{% endfor %}
    </div>

    <div class="card" id="update-stats">
    <h6 class="card-header"><span id="sujet-name"></span> <small>Fiche statistiques</small>
        <div class="pull-right" id="update-buttons">
        <label for="submit-form" class="btn btn-primary" id="update-stats-btn" pk="">Enregistrer</label>
        <span class="btn btn-primary btn-sm" id="cancel">Annuler</span>
      </div></h6>
      <div id="fiche-stats" class="well well-sm">
      </div>
    </div>
  </div> <!-- Container -->
<script type="text/javascript">
  $(function(){

  function UpdateStats(pk) {
      var name = $("#sujet-name-" + pk).text();
      console.log("Update stats for ", pk, ":", name);
      $("#fiche-stats").load("/statistiques/update/" + pk);
      $("#sujet-name").text(name);
      $("#saved-rencontres").hide();
      $("#update-stats-btn").attr("pk", pk);
      $("#update-stats").show();
    };

  $("#update-stats").hide();

  $(".show-stats-btn").click(function(e) {
    var value = $(this).attr("value");
    UpdateStats(value);
  });

  $("#update-stats-btn").click(function(e) {
    e.preventDefault();
    var pk = $(this).attr("pk");
    $.post("/statistiques/update/" + pk + "/", $("#update-stats-form").serialize());
    $("#fiche-stats").html("");
    $("#saved-rencontres").show();
    $("#update-stats").hide();
  });

  $("#cancel").click(function() {
        $("#fiche-stats").html("");
        $("#saved-rencontres").show();
        $("#update-stats").hide();
  });

  $.fn.openModalEvent('new-sujet',
  '{% url "notes:create-sujet" %}?next={% url "maraudes:create" pk=maraude.pk %}',
  'Nouveau sujet');

  $.fn.openModalEvent('new-lieu',
  '{% url "maraudes:lieu-create" %}?next={% url "maraudes:create" pk=maraude.pk %}',
  'Nouveau lieu');
  });
</script>

{% endblock %}
