<div class="row">
  <div class="col-md-6" id="prochaine-maraudes">
    <div class="panel panel-primary">
      <div class="panel-heading">Votre prochaine maraude</div>
      <div class="panel-body">
      {% if prochaine_maraude %}<p>
        <span class="glyphicon glyphicon-calendar"></span>
        <strong>{{ prochaine_maraude.date }} à {{ prochaine_maraude.heure_debut }}
          avec {% if user.is_superuser %}{{prochaine_maraude.binome}}{%else%}{{prochaine_maraude.referent}}{%endif%}.
        </strong></p>
        <hr />
        <p><mark>Informations, notes, rendez-vous ?</mark></p>
      {% else %}<p>Aucune maraude prévue.</p>{% endif %}
      </div>
    </div>
  </div>

{% include 'maraudes/panel_dernieres_maraudes.html' %}

  {% if user.is_superuser %}<div class="col-md-6" id="administration">
    <div class="panel panel-danger">
      <div class="panel-heading">Administration</div>
        <div class="list-group">
          <a href="{% url 'maraudes:planning' %}" class="list-group-item">Planning</a>
          <a href="{% url 'admin:maraudes_maraude_changelist' %}" class="list-group-item">Gérer les maraudes</a>
        </div>
      </div>
  </div>{% endif %}

</div>

