{% load tables %}
<div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">Votre prochaine maraude</h4>
      </div>
      <div class="panel-body">
      {% if prochaine_maraude %}<p>
        <span class="glyphicon glyphicon-calendar"></span>
        <strong>{{ prochaine_maraude.date }} à {{ prochaine_maraude.heure_debut }}
          avec {% if user.is_superuser %}{{prochaine_maraude.binome}}{%else%}{{prochaine_maraude.referent}}{%endif%}.
        </strong></p>
        <hr />
        {% if prochaine_maraude.est_terminee %}
        <a class="btn btn-sm btn-primary" href="{% url 'maraudes:details' pk=prochaine_maraude.pk %}">
          Voir le compte-rendu
        </a>{%else%}
        <a class="btn btn-sm btn-primary" href="{% url 'maraudes:create' pk=prochaine_maraude.pk %}">
          Rédiger le compte-rendu
        </a>{% endif %}
      {% else %}<p>Aucune maraude prévue.</p>{% endif %}
      </div>
    </div>
</div>
{% if user.is_superuser %}
<div class="col-md-6">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h4 class="panel-title">Compte-rendus en retard</h4>
      </div>
      {% table missing_cr cols=2 cell_template="maraudes/missing_cr_table_cell.html" %}
    </div>
</div>
{% endif %}
