{% load bootstrap3 %}
{% load tables %}
<div class="col-md-12 col-lg-6">
  <div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading text-center">
      <h3 class="panel-title">Maraudes passées</h3>
    </div>

    <!-- Table -->
    {% table object_list cols=2 cell_template="maraudes/list_table_cell.html" %}
  {% if is_paginated %}
  <div class="panel-footer text-center">
      <ul class="pagination">
      {% for num in page_obj.paginator.page_range %}
        <li {% if page_obj.number == num %} class="active" {%endif%}><a href="?page={{num}}">{{num}}</a></li>
      {%endfor%}
      </ul>
  </div>
  {% endif %}
  </div>
</div>
<div class="col-lg-3 col-md-3">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading text-center">
      <h3 class="panel-title">Filtres</h3>
    </div>
    <div class="list-group">
      <a href="#" class="list-group-item disabled">Vos maraudes seulement</a></li>
      <a href="#" class="list-group-item disabled">Ce mois-ci</a></li>
    </div>
  </div>
</div>
