{% load navbar %}
            <ul class="nav nav-pills nav-stacked text-right">
              <li role="presentation" {% active namespace="maraudes" viewname="index" %}>
                <a href="{% url "maraudes:index" %}">Tableau de bord&nbsp;
                  <span class="glyphicon glyphicon-dashboard"></span>
                </a>
              </li>
              <li role="presentation" {% if not prochaine_maraude.date == date %} class="disabled">
                <a href="#">Compte-rendu&nbsp;
                  <span class="glyphicon glyphicon-pencil"></span></a>
              </li> {% else %}>
                <a href="{% if prochaine_maraude.est_terminee %}
                            {% url 'notes:details-maraude' pk=prochaine_maraude.pk %}
                          {%else%}
                            {% url 'maraudes:create' pk=prochaine_maraude.pk %}
                          {% endif %}">Compte-rendu&nbsp;
                  <span class="glyphicon glyphicon-pencil"></span></a>
              </li> {% endif %}
              <li role="presentation" {% active namespace="maraudes" viewname="planning" %}>
                <a href="{% url "maraudes:planning" %}">Planning&nbsp;
                  <span class="glyphicon glyphicon-calendar"></span>
                </a>
              </li>
            </ul>
