{% load bootstrap3 %}
  <form method="post" action="">
  {% csrf_token %}
    <div class="panel panel-warning">
      <div class="panel-heading"><h4 class="panel-title">Signalement</h4></div>
      <div class="panel-body">
        <div class="form-horizontal">
          {% for field in form %}
            {% if field.name == "sujet" %}
              <hr />
            {% endif %}
            {% bootstrap_field field layout="horizontal" size="small" %}
          {% endfor %}
        </div>
      </div>
      <div class="panel-footer text-right">
        <div class="btn-group">
          <a class= "btn btn-sm btn-primary" id="new-sujet">
          {% bootstrap_icon "user" %} Nouveau sujet</a>
          {% bootstrap_button "Enregistrer" icon="save" button_type="submit" button_class="btn btn-success btn-sm pull-right" %}
        </div>
      </div>
    </div>
  </form>
